input {
  background-color: #f8f5f5; /* Dark background */
  color: #fff; /* White text */
}

input:focus::placeholder {
  color: #ccc; /* Light gray placeholder for visibility */
  opacity: 1; /* Ensure the placeholder is fully visible */
}

.form-control.bg-dark::placeholder {
  color: var(--placeholder-color, #a1a1aa);
}